{% load static %}
{% load i18n %}
<div class="navbarBlock">
    <div class="float0">
        <div class="callnow">
            <a href="tel:+994556449164">
                <img src="https://res.cloudinary.com/dyjcv3dos/image/upload/f_auto,q_auto/pt0r43jgvic2elsjkyup">
            </a>
        </div>
        <div class="settings">
            <div class="darkMode">
                <label for="filter-desktop" class="switch" aria-label="Toggle Filter">
                    <input type="checkbox" id="filter-desktop" />
                    <span>{% trans 'İşıqlı' %}</span>
                    <span>{% trans 'Qaranlıq' %}</span>
                </label>
            </div>
            <div class="lang">
                <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-translate"></i></a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'set-language' 'az' %}">Azərbaycanca</a></li>
                        <li><a class="dropdown-item" href="{% url 'set-language' 'en' %}">English</a></li>
                        <li><a class="dropdown-item" href="{% url 'set-language' 'ru' %}">Русский</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="float1">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="https://res.cloudinary.com/dyjcv3dos/image/upload/f_auto,q_auto/bqv5avvudblp16w4uspp">Synergo</a>
        </div>
        <div class="menu">
            <a href="#">{% trans 'Məqalələr' %}</a>
            <a href="#">{% trans 'Layhiələr' %}</a>
            <div class="services">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{% trans 'Xidmətlər' %}</button>
                    <ul class="dropdown-menu">
                        {% for service in services %}
                            <li><a class="dropdown-item" href="{% url 'servicedetail' service.slug %}">{{service.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <a href="#">{% trans 'Haqqımızda' %}</a>
            <a href="{% url 'contactpage' %}" class="btn goldenbtn">{% trans 'Əlaqə' %}</a>
        </div>
        <div class="menuForPhone">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="https://res.cloudinary.com/dyjcv3dos/image/upload/f_auto,q_auto/bhzur8n65swdp5lim5sg" alt=""></button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5>
                    <button type="button" class="btn" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="offcanvas-body">
                    <div class="allMenu">
                        <div class="settingsfloor">
                            <div class="darkMode">
                                <label for="filter-mobile" class="switch" aria-label="Toggle Filter">
                                    <input type="checkbox" id="filter-mobile" />
                                    <span>{% trans 'İşıqlı' %}</span>
                                    <span>{% trans 'Qaranlıq' %}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>