{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block main %}
    <main>
        <div class="vacanciesPage">
            <div class="vacanciesHead">
                <p>{% trans 'Karyeranızı sağlam mühitdə və peşəkar komanda ilə qurun!' %}</p>
                <p>{% trans 'Hazırda şirkətimizdə sahənizə və ya təcrübənizə uyğun vakansiya tapa bilmədinizsə, gələcəkdə yaranacaq vakansiyalarda dəyərləndirilməyiniz üçün qeydiyyatdan keçərək məlumatlarınızı namizəd bazamıza daxil edə bilərsiniz.' %}</p>
                <div class="resumeBlock">
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">CV-ni bazaya daxil et</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="modalForm">
                                        <form method="post">
                                            {% csrf_token %}
                                            <label for="id_full_name">{% trans 'Ad, Soyad' %}:</label>
                                            {{ form.full_name }}
                                            <label for="id_phone">{% trans 'Əlaqə nömrəsi' %}:</label>
                                            {{ form.phone }}
                                            <label for="id_email">{% trans 'E-poçt' %}:</label>
                                            {{ form.email }}
                                            <label for="id_message">{% trans 'Mətn' %}:</label>
                                            {{ form.message }}
                                            <label for="id_message">{% trans 'CV' %}:</label>
                                            <input type="file" name="" id="">
                                            <button type="submit" class="btn btn-warning">{% trans 'Göndər' %}</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}