@charset "UTF-8";
@font-face {
  font-family: merriweather;
  src: url(../font/Merriweather_24pt-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: auto;
}

.jazzmin-login-page .login-box .login-logo h1 picture img {
  width: 20vw;
}

body {
  font-family: merriweather;
  font-size: 1.2vw;
  color: rgb(30, 30, 30);
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
body #myBtn {
  display: none;
  position: fixed;
  bottom: 3vw;
  right: 1.5vw;
  z-index: 99;
  font-size: 2vw;
  outline: none;
  color: white;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 4vw;
  height: 4vw;
}
body .messageSuccesBlock {
  display: flex;
  justify-content: center;
}
body .messageSuccesBlock .alert {
  width: 60vw;
  text-align: center;
}
body input::-webkit-outer-spin-button,
body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}
body p {
  margin: 0;
}
body a {
  color: rgb(30, 30, 30);
  text-decoration: none;
}
body .loadingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(30, 30, 30);
  z-index: 99999;
  background-color: #01001C;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2303004A' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23040070'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  /* Animación de los colores del gradiente */
  /* Animación aplicada a los puntos del gradiente */
}
body .loadingPage #svg_svg {
  margin-bottom: 2vw;
  zoom: 0.3;
}
body .loadingPage .estrobo_animation {
  animation: floatAndBounce 4s infinite ease-in-out, strobe 0.8s infinite;
}
body .loadingPage .estrobo_animationV2 {
  animation: floatAndBounce 4s infinite ease-in-out, strobev2 0.8s infinite;
}
body .loadingPage #float_server {
  animation: floatAndBounce 4s infinite ease-in-out;
}
@keyframes floatAndBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes strobe {
  0%, 50%, 100% {
    fill: #17e300;
  }
  25%, 75% {
    fill: rgba(23, 227, 0, 0.7058823529);
  }
}
@keyframes strobev2 {
  0%, 50%, 100% {
    fill: rgb(255, 95, 74);
  }
  25%, 75% {
    fill: rgb(16, 53, 115);
  }
}
@keyframes animateGradient {
  0% {
    stop-color: rgba(49, 63, 135, 0.4509803922);
  }
  50% {
    stop-color: #040d3a;
  }
  100% {
    stop-color: rgba(49, 63, 135, 0.4509803922);
  }
}
body .loadingPage #paint13_linear_163_1030 stop {
  animation: animateGradient 4s infinite alternate;
}
body .loadingPage .loader {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  color: white;
  font-family: monospace;
  white-space: pre;
  font-size: 30px;
  line-height: 1.2em;
  height: 1.2em;
  overflow: hidden;
}
body .loadingPage .loader:before {
  content: "Loading...\a⌰oading...\a⌰⍜ading...\a⌰⍜⏃ding...\a⌰⍜⏃⎅ing...\a⌰⍜⏃⎅⟟ng...\a⌰⍜⏃⎅⟟⋏g...\a⌰⍜⏃⎅⟟⋏☌...\a⌰⍜⏃⎅⟟⋏☌⟒..\a⌰⍜⏃⎅⟟⋏☌⟒⏁.\a⌰⍜⏃⎅⟟⋏☌⟒⏁⋔";
  white-space: pre;
  display: inline-block;
  animation: l39 1s infinite steps(11) alternate;
}
@keyframes l39 {
  100% {
    transform: translateY(-100%);
  }
}
body .navbarBlock {
  padding: 1vw 5vw;
  display: flex;
  flex-direction: column;
}
body .navbarBlock .float0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .navbarBlock .float0 .callnow a img {
  width: 20vw;
}
body .navbarBlock .float0 .settings {
  display: grid;
  grid-template-columns: auto auto;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  align-items: center;
}
body .navbarBlock .float0 .settings .lang .dropdown .dropdown-toggle {
  color: white;
}
body .navbarBlock .float0 .settings .lang .dropdown .btn {
  background-color: #70a9c5;
}
body .navbarBlock .float0 .settings .lang .dropdown .btn i {
  color: white;
}
body .navbarBlock .float0 .settings .lang .dropdown .dropdown-menu {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
body .navbarBlock .float0 .settings .darkMode .switch {
  --_switch-bg-clr: #70a9c5;
  --_switch-padding: 0.3vw;
  --_slider-bg-clr: rgba(12, 74, 110, 0.65);
  --_slider-bg-clr-on: rgba(12, 74, 110, 1);
  --_slider-txt-clr: #ffffff;
  --_label-padding: 0.4vw 1vw;
  --_switch-easing: cubic-bezier(
  0.47,
  1.64,
  0.41,
  0.8
  );
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 20vw;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  position: relative;
  isolation: isolate;
}
body .navbarBlock .float0 .settings .darkMode .switch input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
body .navbarBlock .float0 .settings .darkMode .switch > span {
  display: grid;
  place-content: center;
  transition: opacity 300ms ease-in-out 150ms;
  padding: var(--_label-padding);
}
body .navbarBlock .float0 .settings .darkMode .switch::before,
body .navbarBlock .float0 .settings .darkMode .switch::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  transition: inset 150ms ease-in-out;
}
body .navbarBlock .float0 .settings .darkMode .switch::before {
  background-color: var(--_slider-bg-clr);
  inset: var(--_switch-padding) 50% var(--_switch-padding) var(--_switch-padding);
  transition: inset 500ms var(--_switch-easing), background-color 500ms ease-in-out;
  z-index: -1;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.3);
}
body .navbarBlock .float0 .settings .darkMode .switch::after {
  background-color: var(--_switch-bg-clr);
  inset: 0;
  z-index: -2;
}
body .navbarBlock .float0 .settings .darkMode .switch:focus-within::after {
  inset: -0.25rem;
}
body .navbarBlock .float0 .settings .darkMode .switch:has(input:checked):hover > span:first-of-type,
body .navbarBlock .float0 .settings .darkMode .switch:has(input:not(:checked)):hover > span:last-of-type {
  opacity: 1;
  transition-delay: 0ms;
  transition-duration: 100ms;
}
body .navbarBlock .float0 .settings .darkMode .switch:has(input:checked):hover::before {
  inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding) 45%;
}
body .navbarBlock .float0 .settings .darkMode .switch:has(input:not(:checked)):hover::before {
  inset: var(--_switch-padding) 45% var(--_switch-padding) var(--_switch-padding);
}
body .navbarBlock .float0 .settings .darkMode .switch:has(input:checked)::before {
  background-color: var(--_slider-bg-clr-on);
  inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding) 50%;
}
body .navbarBlock .float0 .settings .darkMode .switch > span:last-of-type,
body .navbarBlock .float0 .settings .darkMode .switch > input:checked + span:first-of-type {
  opacity: 0.75;
}
body .navbarBlock .float0 .settings .darkMode .switch > input:checked ~ span:last-of-type {
  opacity: 1;
}
body .navbarBlock .float1 {
  margin: 1vw 0 0.5vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .navbarBlock .float1 .logo a {
  font-size: 2vw;
}
body .navbarBlock .float1 .logo a img {
  margin-right: 1vw;
  width: 4vw;
}
body .navbarBlock .float1 .menu {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  align-items: center;
}
body .navbarBlock .float1 .menu .services .dropdown button {
  background: none;
  border: 0;
}
body .navbarBlock .float1 .menu .services .dropdown-menu {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
body .navbarBlock .float1 .menu .goldenbtn {
  background-color: rgb(12, 74, 110);
  color: white;
  font-weight: bold;
  letter-spacing: 0.05vw;
  text-transform: uppercase;
}
body .navbarBlock .float1 .menuForPhone .btn img {
  width: 8vw;
}
body .navbarBlock .float1 .menuForPhone .offcanvas {
  width: 100%;
  background-color: red;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-header button {
  font-size: 6vw;
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor {
  display: flex;
  justify-content: center;
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode {
  font-size: 4vw;
  /* switch slider */
  /* switch bg color */
  /* switch hover & focus */
  /* switch hover */
  /* checked - move slider to right */
  /* checked - set opacity */
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch {
  --_switch-bg-clr: #70a9c5;
  --_switch-padding: 4px; /* padding around button*/
  --_slider-bg-clr: rgba(12, 74, 110, 0.65); /* slider color unchecked */
  --_slider-bg-clr-on: rgba(12, 74, 110, 1); /* slider color checked */
  --_slider-txt-clr: #ffffff;
  --_label-padding: 1rem 2rem; /* padding around the labels -  this gives the switch it's global width and height */
  --_switch-easing: cubic-bezier(
  0.47,
  1.64,
  0.41,
  0.8
  ); /* easing on toggle switch */
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 9999px;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  position: relative;
  isolation: isolate;
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch > span {
  display: grid;
  place-content: center;
  transition: opacity 300ms ease-in-out 150ms;
  padding: var(--_label-padding);
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch::before,
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  transition: inset 150ms ease-in-out;
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch::before {
  background-color: var(--_slider-bg-clr);
  inset: var(--_switch-padding) 50% var(--_switch-padding) var(--_switch-padding);
  transition: inset 500ms var(--_switch-easing), background-color 500ms ease-in-out;
  z-index: -1;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.3);
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch::after {
  background-color: var(--_switch-bg-clr);
  inset: 0;
  z-index: -2;
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch:focus-within::after {
  inset: -0.25rem;
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch:has(input:checked):hover > span:first-of-type,
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch:has(input:not(:checked)):hover > span:last-of-type {
  opacity: 1;
  transition-delay: 0ms;
  transition-duration: 100ms;
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch:has(input:checked):hover::before {
  inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding) 45%;
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch:has(input:not(:checked)):hover::before {
  inset: var(--_switch-padding) 45% var(--_switch-padding) var(--_switch-padding);
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch:has(input:checked)::before {
  background-color: var(--_slider-bg-clr-on);
  inset: var(--_switch-padding) var(--_switch-padding) var(--_switch-padding) 50%;
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch > span:last-of-type,
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch > input:checked + span:first-of-type {
  opacity: 0.75;
}
body .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .settingsfloor .darkMode .switch > input:checked ~ span:last-of-type {
  opacity: 1;
}
body header .headerSlider div {
  overflow: hidden;
  width: 100%;
  height: 83vh;
  position: relative;
}
body header .headerSlider div .img img {
  width: 100%;
  height: 83vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  filter: brightness(50%);
}
body header .headerSlider div .info {
  padding: 0 0 0 5vw;
  width: 40%;
  position: absolute;
  top: 10vw;
  color: white;
  left: 1vw;
}
body header .headerSlider div .info .btnsBox {
  margin-top: 2vw;
}
body header .headerSlider div .info .btnsBox .btn {
  margin-right: 1vw;
  font-size: 1.6vw;
  color: white;
  background-color: #70a9c5;
  border: 0;
  padding: 0.6vw 3vw;
}
body header .headerSlider div .info .btnsBox .goldenbtn {
  background-color: rgb(12, 74, 110);
}
body main {
  min-height: 100vh;
}
body main .contactPage {
  margin: 2vw 5vw;
}
body main .contactPage .contactHead {
  font-size: 2vw;
  margin-bottom: 2vw;
}
body main .contactPage .infoBlock {
  display: flex;
  justify-content: space-between;
}
body main .contactPage .infoBlock .contactInfo {
  width: 25vw;
  display: flex;
  flex-direction: column;
}
body main .contactPage .infoBlock .contactInfo a {
  margin-bottom: 1vw;
}
body main .contactPage .infoBlock .contactInfo a i {
  margin-right: 0.5vw;
}
body main .contactPage .infoBlock .contactInfo .socialIcons {
  margin: 1vw 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  font-size: 2vw;
  row-gap: 1vw;
}
body main .contactPage .infoBlock .form {
  width: 30vw;
}
body main .contactPage .infoBlock .form form {
  display: flex;
  flex-direction: column;
}
body main .contactPage .infoBlock .form form div {
  display: flex;
  flex-direction: column;
}
body main .contactPage .infoBlock .form form div input {
  border-radius: 0.5vw;
  padding: 0.5vw 1vw;
  border: 0;
  outline: none;
}
body main .contactPage .infoBlock .form form div textarea {
  border-radius: 0.5vw;
  padding: 0.5vw 1vw;
  border: 0;
  outline: none;
}
body main .contactPage .infoBlock .form form button {
  margin-top: 1vw;
}
body main .contactPage .map {
  margin: 1vw 0;
}
body main .contactPage .map iframe {
  width: 100%;
  height: 20vw;
  border-radius: 1vw;
  border: 0.1vw solid rgb(30, 30, 30);
}
body main .whyMeBlockMob div .box .img {
  display: flex;
  justify-content: center;
}
body main .whyMeBlockMob div .box .img img {
  width: 45vw;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .whyMeBlockMob div .box .info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  margin: 1vw 0 0 0;
}
body main .whyMeBlock {
  margin: 2vw 5vw;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
}
body main .whyMeBlock .box {
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .whyMeBlock .box .img {
  background: rgba(30, 30, 30, 0.2);
  border-radius: 100%;
  padding: 0.5vw;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
body main .whyMeBlock .box .img img {
  width: 10vw;
  height: 10vw;
  transition: 1s;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .whyMeBlock .box .info {
  margin-top: 0.5vw;
  font-weight: bold;
  text-align: center;
}
body main .whyMeBlock .box:hover .img img {
  transform: scale(1.2);
}
body main .faqPage {
  margin: 2vw 5vw;
}
body main .faqPage .fagHead {
  display: flex;
  justify-content: center;
  margin-bottom: 2vw;
}
body main .faqPage .fagHead h1 {
  text-align: center;
  width: 65vw;
}
body main .faqPage .form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .faqPage .form form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
}
body main .faqPage .form form div input {
  width: 30vw;
  padding: 0.5vw 1vw;
  outline: none;
  border-radius: 0.5vw;
  border: 0.1vw solid rgb(30, 30, 30);
}
body main .faqPage .form form div textarea {
  width: 30vw;
  padding: 0.5vw 1vw;
  outline: none;
  border-radius: 0.5vw;
  border: 0.1vw solid rgb(30, 30, 30);
}
body main .faqPage .form form button {
  margin-top: 2vw;
  width: 30vw;
}
body main .vacanciesPage {
  margin: 2vw 5vw;
}
body main .vacanciesPage .vacanciesHead {
  display: flex;
  margin: 0 15vw;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body main .vacanciesPage .vacanciesHead .first {
  font-size: 2.5vw;
}
body main .vacanciesPage .vacanciesHead .second {
  font-size: 1.4vw;
}
body main .vacanciesPage .vacanciesHead .resumeBlock {
  margin: 2vw 0;
}
body main .vacanciesPage .vacanciesHead .resumeBlock .modal .modal-dialog .modal-content {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
body main .vacanciesPage .vacanciesHead .resumeBlock .modal .modal-dialog .modal-content .modal-body .modalForm form {
  display: flex;
  flex-direction: column;
}
body main .vacanciesPage .vacanciesHead .resumeBlock .modal .modal-dialog .modal-content .modal-body .modalForm form div {
  display: flex;
  margin: 0.5vw 0;
  flex-direction: column;
}
body main .vacanciesPage .vacanciesHead .resumeBlock .modal .modal-dialog .modal-content .modal-body .modalForm form div label {
  text-align: start;
}
body main .vacanciesPage .vacanciesHead .resumeBlock .modal .modal-dialog .modal-content .modal-body .modalForm form div input {
  padding: 0.5vw;
  outline: none;
  border: 0;
  border-radius: 0.2vw;
}
body main .vacanciesPage .activeVacancies .accordion .accordion-item .accordion-collapse .accordion-body .btnSubmit {
  margin: 1vw 0 1vw 0;
}
body main .navWaysForPost {
  margin: 0 0 2vw 10vw;
}
body main .navWays {
  margin: 0 0 2vw 5vw;
}
body main .postPage {
  margin: 2vw 10vw;
}
body main .postPage .postHead {
  position: relative;
  border-radius: 1vw;
  overflow: hidden;
  margin-bottom: 2vw;
}
body main .postPage .postHead img {
  width: 100%;
  height: 30vw;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(50%);
  transition: 1s;
}
body main .postPage .postHead .name {
  position: absolute;
  display: flex;
  justify-content: center;
  color: white;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 2.5vw;
}
body main .postPage .postHead:hover img {
  transform: scale(1.2);
}
body main .postPage .shareBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .postPage .shareBlock .shareIn {
  display: grid;
  grid-template-columns: auto auto auto auto;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  font-size: 3vw;
}
body main .partHead {
  margin: 2vw 5vw 0 5vw;
}
body main .projectsPage {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  margin: 2vw 5vw;
  row-gap: 2vw;
}
body main .projectsPage .project {
  width: 20vw;
  background-color: white;
  border-radius: 0.5vw;
  overflow: hidden;
  box-shadow: 10px 10px 32px -12px rgba(0, 0, 0, 0.75);
}
body main .projectsPage .project a .img {
  width: 20vw;
  height: 20vw;
  overflow: hidden;
}
body main .projectsPage .project a .img img {
  width: 20vw;
  height: 20vw;
  transition: 1s;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .projectsPage .project a .info {
  padding: 0.5vw;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
body main .projectsPage .project:hover a .img img {
  transform: scale(1.1);
}
body main .servicePage {
  display: flex;
  margin: 2vw 5vw;
  align-items: start;
}
body main .servicePage .seeAllServices {
  margin-left: 2vw;
}
body main .servicePage .seeAllServices .modal {
  color: white;
  --bs-modal-width: fit-content !important;
}
body main .servicePage .seeAllServices .modal a {
  color: white;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content {
  background: rgba(30, 30, 30, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody {
  display: flex;
  justify-content: space-between;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .allServicesInModal {
  display: flex;
  flex-direction: column;
  width: 55%;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .allServicesInModal .headerServieNames {
  font-size: 1.5vw;
  margin-bottom: 2vw;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .allServicesInModal .name {
  margin-bottom: 1vw;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .line {
  border-right: 0.1vw solid rgb(255, 255, 255);
  margin: 0 5vw;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .formSide {
  display: flex;
  width: 25vw;
  flex-direction: column;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .formSide .formHead {
  display: flex;
  align-items: start;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .formSide .formHead .headTxt {
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .formSide .formHead .btn i {
  color: white;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .formSide .form {
  margin-top: 1vw;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .formSide .form form {
  display: grid;
  grid-template-columns: 25vw;
  row-gap: 1vw;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .formSide .form form .btn {
  background-color: orange;
  color: white;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .formSide .form form input {
  padding: 0.5vw 1vw;
  border: 0;
  outline: none;
  border-radius: 0.3vw;
  background-color: orange;
  color: white;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .formSide .form form textarea {
  padding: 0.5vw 1vw;
  border: 0;
  outline: none;
  border-radius: 0.3vw;
  background-color: orange;
  color: white;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .formSide .form form .phone {
  padding: 0 0 0 1vw;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
}
body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .formSide .form form .phone label {
  margin-right: 1vw;
}
body main .servicePage .seeAllServices .seeAllServicesModalBtn {
  border: 0;
  position: relative;
}
body main .servicePage .seeAllServices .seeAllServicesModalBtn .img img {
  width: 15vw;
  height: 39vw;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(50%);
}
body main .servicePage .seeAllServices .seeAllServicesModalBtn .text {
  position: absolute;
  padding: 0.5vw;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  bottom: 2vw;
  justify-content: flex-end;
}
body main .servicePage .seeAllServices .seeAllServicesModalBtn .text p:first-child {
  font-size: 2.4vw;
}
body main .servicePage .seeAllServices .seeAllServicesModalBtn .text p:last-child {
  text-align: start;
}
body main .servicePage .servicesBlock {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  gap: 1vw;
}
body main .servicePage .servicesBlock .serviceCard {
  width: 35vw;
  height: -moz-fit-content;
  height: fit-content;
  border-top: 0.1vw solid rgba(96, 224, 241, 0.5);
  padding: 1vw;
  transition: 1s;
}
body main .servicePage .servicesBlock .serviceCard a {
  display: flex;
}
body main .servicePage .servicesBlock .serviceCard a .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .servicePage .servicesBlock .serviceCard a .info .desc {
  line-clamp: 3;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
body main .servicePage .servicesBlock .serviceCard a .info .learnNow {
  display: flex;
  align-items: center;
}
body main .servicePage .servicesBlock .serviceCard a .info .learnNow .arrow {
  transition: 1s;
  margin-left: 1vw;
}
body main .servicePage .servicesBlock .serviceCard a .img {
  opacity: 1;
  visibility: visible;
}
body main .servicePage .servicesBlock .serviceCard a .img img {
  transition: 1s;
  width: 15vw;
  height: 10vw;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .servicePage .servicesBlock .serviceCard:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.1);
  box-shadow: 10px 10px 32px -12px rgba(0, 0, 0, 0.75);
  border-top: 0.1vw solid rgb(96, 224, 241);
}
body main .servicePage .servicesBlock .serviceCard:hover a .img {
  opacity: 0; /* Görünməz edir */
  visibility: hidden; /* Yeri qalır, amma görünmür */
  transition: opacity 1s ease-in-out, visibility 1s;
}
body main .servicePage .servicesBlock .serviceCard:hover a .img img {
  width: 0;
}
body main .servicePage .servicesBlock .serviceCard:hover a .info .learnNow .arrow {
  transform: translateX(1vw);
}
body footer {
  padding: 2vw 5vw;
  background-color: #01001C;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2303004A' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23040070'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  color: white;
  border-top: 0.1vw solid rgb(255, 255, 255);
}
body footer a {
  color: white;
}
body footer .floor1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 1vw 0;
}
body footer .floor1 .logo {
  display: flex;
  width: 20vw;
  flex-direction: column;
}
body footer .floor1 .logo a img {
  width: 6vw;
  margin-bottom: 1vw;
}
body footer .floor1 .box {
  display: flex;
  width: 20vw;
  align-items: center;
  flex-direction: column;
}
body footer .floor1 .box p {
  font-size: 1.6vw;
  font-weight: bold;
}
body footer .floor1 .box a {
  margin: 0.5vw 0;
}
body footer .floor1 .box .socialIcons {
  margin-top: 1vw;
  display: grid;
  grid-template-columns: auto auto auto auto;
  font-size: 2vw;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
}
body footer .floor1 .box .socialIcons a i {
  transition: 1s;
}
body footer .floor1 .box .socialIcons a:hover i {
  color: #70a9c5;
}
body footer .floor0 {
  text-align: end;
}

.dark-mode {
  background-color: #050505;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23050505'/%3E%3Cstop offset='1' stop-color='%23040619'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
.dark-mode a {
  color: white;
}
.dark-mode .navbarBlock .float0 .settings .lang .dropdown .btn {
  background-color: goldenrod;
}
.dark-mode .navbarBlock .float0 .settings .darkMode .switch {
  background: red;
  color: rgb(30, 30, 30);
}
.dark-mode .navbarBlock .float0 .settings .darkMode .switch::after {
  background-color: goldenrod;
}
.dark-mode .navbarBlock .float0 .settings .darkMode .switch::before {
  background-color: gold !important;
}
.dark-mode .navbarBlock .float1 .menuForPhone .offcanvas .btn {
  color: white;
}
.dark-mode .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-header .btn i {
  color: white;
}
.dark-mode .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .darkMode .switch {
  background: rgb(30, 30, 30) !important;
  --_switch-bg-clr: rgb(30,30,30) !important;
  color: rgb(30, 30, 30);
}
.dark-mode .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .darkMode .switch::after {
  background-color: goldenrod;
}
.dark-mode .navbarBlock .float1 .menuForPhone .offcanvas .offcanvas-body .allMenu .darkMode .switch::before {
  background-color: gold !important;
}
.dark-mode .navbarBlock .float1 .menu .services .dropdown button {
  color: white;
}
.dark-mode .navbarBlock .float1 .menu .goldenbtn {
  background: none;
  border-color: goldenrod;
  color: goldenrod;
}
.dark-mode main .navWaysForPost .breadcrumb .active {
  color: rgba(255, 255, 255, 0.5);
}
.dark-mode main .navWaysForPost .breadcrumb .breadcrumb-item::before {
  color: white;
}
.dark-mode main .navWays .breadcrumb .active {
  color: rgba(255, 255, 255, 0.5);
}
.dark-mode main .navWays .breadcrumb .breadcrumb-item::before {
  color: white;
}
.dark-mode main .whyMeBlock .box {
  color: goldenrod;
}
.dark-mode main .whyMeBlock .box .img {
  background: rgba(255, 255, 255, 0.2);
}
.dark-mode main .projectsPage .project {
  background: rgb(30, 30, 30);
}
.dark-mode main .servicePage .servicesBlock .serviceCard {
  border-color: rgba(218, 165, 32, 0.5);
}
.dark-mode main .servicePage .servicesBlock .serviceCard:hover {
  background-color: rgb(30, 30, 30);
  border-color: rgb(218, 165, 32);
}
.dark-mode main .servicePage .servicesBlock .serviceCard:hover a {
  color: white;
}
.dark-mode footer {
  border-top: 0.1vw solid rgb(255, 255, 255);
}

@media screen and (min-width: 1001px) {
  body .navbarBlock .float1 .menuForPhone {
    display: none;
  }
  body main .whyMeBlockMob {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  body #myBtn {
    width: 10vw;
    height: 10vw;
    font-size: 5vw;
  }
  body .navbarBlock .float0 {
    display: none;
  }
  body .navbarBlock .float1 {
    margin: 5vw 0;
  }
  body .navbarBlock .float1 .logo a {
    font-size: 8vw;
  }
  body .navbarBlock .float1 .logo a img {
    width: 10vw;
  }
  body .navbarBlock .float1 .menu {
    display: none;
  }
  body header .headerSlider div {
    height: auto;
  }
  body header .headerSlider div .img img {
    height: 40vh;
  }
  body header .headerSlider div .info {
    padding: 0 5vw;
    width: 100%;
    font-size: 3vw;
  }
  body header .headerSlider div .info .btnsBox .btn {
    font-size: 4vw;
    margin: 5vw 5vw 0 0;
  }
  body main .contactPage .infoBlock {
    flex-direction: column;
    font-size: 4vw;
  }
  body main .contactPage .infoBlock .contactInfo {
    width: 100%;
  }
  body main .contactPage .infoBlock .form {
    width: 100%;
  }
  body main .contactPage .infoBlock .form form div input {
    border: 0.1vw solid rgb(30, 30, 30);
  }
  body main .contactPage .infoBlock .form form div textarea {
    border: 0.1vw solid rgb(30, 30, 30);
  }
  body main .contactPage .map iframe {
    height: 50vh;
  }
  body main .navWaysForPost {
    font-size: 4vw;
  }
  body main .navWaysForPost .breadcrumb .breadcrumb {
    font-size: 4vw;
  }
  body main .navWays {
    font-size: 4vw;
  }
  body main .navWays .breadcrumb .breadcrumb {
    font-size: 4vw;
  }
  body main .postPage .postHead .name {
    padding: 2vw;
    font-size: 5vw;
  }
  body main .postPage .postHead .name p {
    text-align: center;
  }
  body main .postPage .shareBlock {
    font-size: 4vw;
  }
  body main .postPage .shareBlock .shareIn {
    margin-top: 2vw;
    -moz-column-gap: 6vw;
         column-gap: 6vw;
  }
  body main .postPage .shareBlock .shareIn a {
    font-size: 7vw;
  }
  body main .postPage .postBody {
    font-size: 4vw;
  }
  body main .servicePage {
    flex-direction: column;
  }
  body main .servicePage .servicesBlock {
    grid-template-columns: auto;
  }
  body main .servicePage .servicesBlock .serviceCard {
    width: 100%;
    font-size: 3vw;
  }
  body main .servicePage .servicesBlock .serviceCard a .img img {
    width: 35vw;
    height: 25vw;
  }
  body main .servicePage .seeAllServices {
    width: 100%;
    margin: 2vw 0;
  }
  body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody {
    font-size: 4vw;
    flex-direction: column-reverse;
    align-items: center;
  }
  body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .line {
    border: 0;
    border-bottom: 0.5vw solid rgba(255, 255, 255, 0.5);
    width: 100%;
    margin: 2vw 0 1vw 0;
  }
  body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .allServicesInModal {
    width: 100%;
  }
  body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .allServicesInModal .headerServieNames {
    font-size: 5vw;
    margin: 2vw 0 1vw 0;
  }
  body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .allServicesInModal .name a {
    text-decoration: underline;
    text-underline-offset: 1vw;
  }
  body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .formSide {
    width: 100%;
  }
  body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .formSide .form form {
    justify-content: center;
    grid-template-columns: auto;
  }
  body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .formSide .form form input {
    border-radius: 1.5vw;
  }
  body main .servicePage .seeAllServices .modal .modal-dialog .modal-content .modal-body .modalsBody .formSide .form form textarea {
    border-radius: 1.5vw;
  }
  body main .servicePage .seeAllServices .seeAllServicesModalBtn {
    width: 100%;
  }
  body main .servicePage .seeAllServices .seeAllServicesModalBtn .img img {
    width: 100%;
  }
  body main .servicePage .seeAllServices .seeAllServicesModalBtn .text {
    font-size: 3vw;
    top: 0;
    padding: 1vw;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  body main .servicePage .seeAllServices .seeAllServicesModalBtn .text p {
    text-align: center !important;
  }
  body main .servicePage .seeAllServices .seeAllServicesModalBtn .text p:first-child {
    font-size: 4vw;
  }
  body main .whyMeBlock {
    display: none;
  }
  body footer .floor1 {
    display: none;
  }
  body footer .floor0 {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */